<!DOCTYPE html>

<html>
<style>
    .x {
        font-size: 20px;
        text-decoration: none;
        border: solid;
        border-color: red;
        color: #808080;
    }

        .x:hover {
            font-size: 20px;
            color: #f00;
            text-decoration: none;
        }

        .x:active {
            font-size: 20px;
            text-decoration: none;
            color: #000;
        }
</style>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/content/bootstrap-5.1.1-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/content/bootstrap-5.1.1-dist/js/bootstrap.js"></script>
</head>
<body>
    <img src="~/images/employee.jpg" style="height:250px;width:100%"/>
    <div style="margin-left:100px">
        <a href="Registerfortraining" class="x">Display Current Training</a>
        <a href="Attendence" class="x">Attendence</a>
        <a href="Statusoftraining" class="x">Status of Training</a>
        <a href="Editpersonaldetails" class="x">Update Personal Inforamtion</a>
        <a href="Logout" class="x">Logout</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
