<!DOCTYPE html>

<html>
<style>
    .x {
        font-size: 20px;
        text-decoration: none;
        border: solid;
        border-color: red;
        color: #808080;
    }

        .x:hover {
            font-size: 20px;
            color: #f00;
            text-decoration: none;
        }

        .x:active {
            font-size: 20px;
            text-decoration: none;
            color: #000;
        }
</style>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/content/bootstrap-5.1.1-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/content/bootstrap-5.1.1-dist/js/bootstrap.js"></script>
</head>
<body>
    <img src="~/images/home-image.png" style="height:350px;width:100%"/>
    <div style="margin-left:100px;">
        <a href="Login" class="x">Login</a>
        <a href="HRRegistration" class="x"> HR Registration </a>
        <a href="EmployeeRegistration" class="x">Employee Registration</a>
        <a href="ManagerRegistration" class="x">Manager Registration</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
